<script src="https://giscus.app/client.js"
        data-repo="CDidiou/La-Grande-Nation"
        data-repo-id="R_kgDOUThXcQ"
        data-category="General"
        data-category-id="DIC_kwDOUThXcc4DFORa"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="fr"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>